[ghq]
    root = ~/Develop/repositories/src
[user]
	name = Daisuke Tsuji
	email = dim0627@gmail.com
	signingkey = F353FFE48FCA5388
[core]
	editor = vim
	pager = delta
[commit]
	gpgsign = true


[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[alias]
	p = push
	ch = checkout
	co = commit
	fixit = commit --amend --no-edit
	push-f = push --force-with-lease
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
